html, body {
    margin: 0;
    padding: 0;
    height: calc(100% - 75px);

}

body {
    background: #F9F9FF !important;
    color: #A2B7DC !important;
    overflow: hidden;
}

body::after {
    z-index: -1;
    content: "";
    position: absolute;
    background-color: white;
    padding-bottom: 100%;
    width: 100%;
    bottom: 75%;
    left: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
}

body.logged::after {
    z-index: -1;
    content: "";
    position: absolute;
    background-color: white;
    padding-bottom: 100%;
    width: 100%;
    bottom: 75%;
    left: -21%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
}

body.logged {
    overflow-y: auto !important;
}

body.logged .navbar-top {
    position: fixed;
    background: white !important;
    z-index: 9999;
}

body.logged #content {
    padding-top: 86px !important;
}

input[type="email"], input[type="text"], input[type="password"] {
    background: #A2B7DC !important;
    border: 1px solid #A2B7DC;
    margin: .5rem;
    color: #F9F9FF;
}

.text-green {
    color: #2ee09d;
}

::-webkit-input-placeholder { /* Edge */
    color: #F9F9FF !important;
}

:-ms-input-placeholder { /* Internet Explorer */
    color: #F9F9FF !important;
}

::placeholder {
    color: #F9F9FF !important;
}

.btn-primary {
    padding: .5rem 1rem !important;
    background-color: #2ee09d !important;
    color: #FFF !important;
    border: none !important;
}
.bg-GET,.bg-primary {
    background-color: #2ee09d !important;
}
.border-GET {
    border-color: #2ee09d !important;
}
.bg-GET-1 {
    background: #2baa76 !important;
}

.btn-secondary, .btn-PUT {
    padding: .5rem 1rem !important;
    background-color: #FFB311 !important;
    color: #FFF !important;
    border: none !important;
}

.bg-PUT {
    background-color: #FFB311 !important;
}
.border-PUT {
    border-color: #FFB311 !important;
}
.bg-PUT-1 {
    background: #b57f0e !important;
}

.btn-POST {
    padding: .5rem 1rem !important;
    background-color: #4070EC !important;
    color: #FFF !important;
    border: none !important;
}
.bg-POST {
    background-color: #4070EC !important;
}
.border-POST {
    border-color: #4070EC !important;
}
.bg-POST-1 {
    background: #2d51a2 !important;
}
.btn-DELETE {
    padding: .5rem 1rem !important;
    background-color: #dc3545 !important;
    color: #FFF !important;
    border: none !important;
}
.bg-DELETE {
    background-color: #dc3545 !important;
}
.border-DELETE {
    border-color: #dc3545 !important;
}
.bg-DELETE-1 {
    background: #a32c38 !important;
}
#overlayer {
    z-index: 99999;
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255, 255, 255, .8);
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 3;
    border: 4px solid #2ee09d;
    top: calc(50% - 15px);
    left: calc(50% - 15px);
    animation: loader 2s infinite ease;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #2ee09d;
    animation: loader-inner 2s infinite ease-in;
}

.section-header {
    z-index: 12;
    border-bottom: 1px;
}

.section-h3 {
    color: #324355;
    margin-bottom: 0 !important;
}

.section-table-header {
    z-index: 11;
    background-color: #F9F9FF;
}

.user-result-row:hover {
    background-color: #F9F9FF;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1;
        top: 3px;
    }
}

@keyframes slide {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0
    }
    100% {
        opacity: 1;
        top: 3px;
    }
}
