<div class="container-fluid bg-white rounded p-4 mb-3 shadow-sm">
    <div class="row">
        <div class="col-12">
            <h3>Authentication</h3>
            <h6>You must send your authentication <b><u>AND</u></b> your access token for each requests</h6>
            <hr>
            <div class="input-group col-12 pl-0 pr-0 mt-3">
                <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3"><small
                                    class="font-weight-bold">Auth Token</small></span>
                </div>
                <input type="text" class="form-control m-0 h-100 shadow-none" id="auth-token"
                       aria-describedby="basic-addon3" value="{{ app.user.authToken.value }}">
                <div class="input-group-append" onclick="copyToClipboard('auth-token')">
                    <span class="input-group-text"><i class="fa fa fa-copy"></i></span>
                </div>
            </div>
            <div id="method-{{ app.user.id }}" class="mt-3">
                <div class="row">
                    <div class="col-12">
                        <h5>Auth</h5>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <span class="d-inline-block btn-sm btn-primary btn-GET p-1 rounded font-weight-bold mb-2">GET</span>
                        <span class="d-inline-block btn-sm btn-primary btn-POST p-1 rounded font-weight-bold mb-2">POST</span>
                        <span class="d-inline-block btn-sm btn-primary btn-PUT p-1 rounded font-weight-bold mb-2">PUT</span>
                        <span class="d-inline-block btn-sm btn-primary btn-DELETE p-1 rounded font-weight-bold mb-2">DELETE</span>
                        <pre class="bg-dark text-light w-100 p-2 rounded">/your/desired/endpoint</pre>

                        <h6 class="font-weight-bold">Parameter</h6>
                        <div class="row col-12 m-0 section-table-header font-weight-bold border p-1 rounded-top">
                            <div class="col-4 border-right">
                                Field
                            </div>
                            <div class="col-2 border-right">
                                Type
                            </div>
                            <div class="col-6">
                                Description
                            </div>
                        </div>
                        <div class="row col-12 m-0 p-1 bg-white rounded-bottom border border-top-0 pb-2">
                            <div class="col-4 border-right">
                                API_AUTH_TOKEN
                            </div>
                            <div class="col-2 border-right">
                                string
                            </div>
                            <div class="col-6">
                                You can find your public key in your back-office.
                            </div>
                        </div>
                        <div class="row col-12 m-0 p-1 bg-white rounded-bottom border border-top-0 pb-2">
                            <div class="col-4 border-right">
                                API_ACCESS_TOKEN
                            </div>
                            <div class="col-2 border-right">
                                string
                            </div>
                            <div class="col-6">
                                You can find all your private keys in your back-office.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 mt-3 mt-md-0">
                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs border-0" id="codeTab" role="tablist"
                                    style="margin-bottom:-7px;">
                                    <li class="nav-item small w-50">
                                        <a class="w-100 text-center d-inline-block shadow-none btn-secondary code-btn p-1 rounded font-weight-bold mb-1"
                                           id="php-tab" data-toggle="tab" href="#php_auth"
                                           role="tab"
                                           aria-controls="php" aria-selected="true">PHP</a>
                                    </li>
                                    <li class="nav-item small w-50">
                                        <a class="w-100 text-center d-inline-block shadow-none btn-secondary code-btn p-1 rounded font-weight-bold mb-1"
                                           id="curl-tab" data-toggle="tab" href="#curl_auth"
                                           role="tab"
                                           aria-controls="curl" aria-selected="true">cURL</a>
                                    </li>
                                </ul>
                                <div class="tab-content" id="myTabContent">
                                    <div class="tab-pane fade show active" id="php_auth"
                                         role="tabpanel"
                                         aria-labelledby="php-tab">
                                        <pre class="bg-dark text-light w-100 p-2 rounded"><code class="language-php">&lt;?php
    $API_AUTH_TOKEN = ""; //Your API AUTH TOKEN
    $API_ACCESS_TOKEN = ""; //Your API ACCESS Token
    $opts = [
        'http' => [
        'method' => "GET",
        'header' => "API-Authorization: $API_AUTH_KEY\r\n" .
                    "ACCESS-Authorization: $API_ACCESS_KEY\r\n"
                  ]
            ];
    $context = stream_context_create($opts);
    $endpoint = file_get_contents('{{ url('api_front_login') }}your/desired/endpoint', false, $context);

    $response = json_decode($endpoint);
?></code></pre>
                                    </div>
                                    <div class="tab-pane fade" id="curl_auth" role="tabpanel"
                                         aria-labelledby="curl-tab">
                                            <pre class="bg-dark text-light w-100 p-2 rounded"><code
                                                        class="language-bash">#Send Authentication
$API_PUBLIC_KEY = ""; #Your API AUTH TOKEN
$API_PRIVATE_KEY = ""; #Your API ACCESS Token
curl -X GET \
  {{ url('api_front_login') }} \
  -H "API-Authorization: $API_PUBLIC_KEY" \
  -H "ACCESS-Authorization: $API_PRIVATE_KEY" \
  -H "Content-type: application/json" \
</code></pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>