{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% for controller in controllers %}
        <div class="jumbotron">
            <h3>{{ controller.name }}</h3>
            <ul>
                {% for method in controller.methods %}
                    <li>{{ method }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
{% endblock %}